
<h1>Users</h1>

<section>

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <a [routerLink]="['/user', user.id]">{{user.email}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.lastName}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let user; columns: displayedColumns"
             (click)="onRowClicked(user)"></mat-row>

  </mat-table>

  <div class="table-error" *ngIf="(dataSource.error$ | async) as error">
    <app-error [error]="error">
      Sorry but something went wrong loading the list of users
    </app-error>
  </div>

  <mat-progress-spinner class="loading-spinner" *ngIf="(this.dataSource.loading$ | async)"
    diameter="20" mode="indeterminate"></mat-progress-spinner>

  <mat-paginator [length]="(this.dataSource.currentPage$ | async)?.totalItems" [pageSize]="3"
                 [pageSizeOptions]="[3, 5, 10]"></mat-paginator>

</section>
