<mat-toolbar color="primary" class="portal-toolbar">
  <button mat-icon-button (click)="toggleNav()"><mat-icon>menu</mat-icon></button>
  <img class="brand-img" src="/assets/images/logo.png" alt="brand">
  <h1 class="portal-app-name">
    Admin Portal
  </h1>
</mat-toolbar>
