<div class="portal-container" [class.portal-is-mobile]="mobileQuery.matches">

  <app-nav-header (onToggleNav)="snav.toggle()"></app-nav-header>

  <mat-sidenav-container class="portal-sidenav-container">

    <mat-sidenav #snav
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="!mobileQuery.matches"
                 [fixedInViewport]="mobileQuery.matches">
      <app-nav-sidebar></app-nav-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>

      <div class="page-content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
