.message {
  cursor: pointer;
  color: darkred;
}

.detail {
  padding: 10px;
  margin-left: 10px;
  border-left: 1px solid darkred;
  background-color: #ffeaed;
}

.material-icons {
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  height: auto;
  width: auto;
  margin-bottom: 0.15em;
}
