<div class="alert alert-danger" (click)="toggleDetail()">
  <div class="message">
    <mat-icon>arrow_{{showDetail ? 'drop_down' : 'right'}}</mat-icon>
    <mat-icon>error_outline</mat-icon>
    <ng-content></ng-content>
  </div>
  <div *ngIf="showDetail" class="detail">
    {{error | json}}
  </div>
</div>
